<!--Header-->
<header ng-include="'views/partials/header.html'"></header>
<main>
<!-- Modal Structure for Edit -->
<div id="addDriveModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Test Drive</h4>
        <div class="row">
          <form class="col s12">
            
            <div class="row">
              <div class="input-field col s12" input-field>
                  <input class="validate" id="icon_prefix" type="text" ng-model="inputs.drivername">
                  <label for="icon_prefix">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="icon_prefix" type="text" class="validate" ng-model="inputs.licence">
                <label for="icon_prefix">License Number</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="icon_prefix" type="text" class="validate" ng-model="inputs.phone">
                <label for="icon_prefix">Phone Number</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="icon_prefix" type="text" class="validate" ng-model="inputs.email">
                <label for="icon_prefix">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="icon_prefix" type="text" class="validate" ng-model="inputs.address">
                <label for="icon_prefix">Mailing Address</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="icon_prefix" type="text" class="validate" ng-model="inputs.rego">
                <label for="icon_prefix">Rego Number</label>
              </div>
            </div>
            <div class="row">
              <!-- Dropdown Trigger -->
              Car Make:
              <a class='dropdown-button btn' href='javascript:void(0);' data-activates='carMakeDropdown' dropdown data-hover="false">
                  {{inputs.make}}
              </a>
              <!-- Dropdown Structure -->
              <ul id='carMakeDropdown' class='dropdown-content'>
                <span ng-repeat="make in makes">
                  <li><a href="javascript:void(0);" ng-click="selectMake(make)">{{make}}</a></li>
                </span>
              </ul>
              <div class="input-field col s8">
                <input id="icon_prefix" type="text" class="validate" ng-model="inputs.model">
                <label for="icon_prefix">Model</label>
              </div>
            </div>
          </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" ng-click="updateDrive()" class=" modal-action modal-close waves-effect waves-green btn-flat">ADD</a>
        <a href="javascript:void(0);" ng-click="cancel()" class=" modal-action modal-close waves-effect waves-green btn-flat">CANCEL</a>
    </div>
</div>

<!-- Modal Structure for Delete -->
<div id="deleteDriveModal" class="modal">
    <div class="modal-content">
        <h4>Delete data</h4>
        <div class="row">
          Are you sure?
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" ng-click="drives.$remove(inputs)" class=" modal-action modal-close waves-effect waves-green btn-flat">DELETE</a>
        <a href="javascript:void(0);" class=" modal-action modal-close waves-effect waves-green btn-flat">CANCEL</a>
    </div>
</div>

<div class="row">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <div class="col right">
              <a class="btn-floating waves-effect waves-light" href="#/profile"><i class="material-icons">add</i></a>
          </div>        
            <div class="row">
              <span class="card-title">Test Drive:</span>
            </div>
            <div class="row">
                <nav>
                    <div class="nav-wrapper grey grey lighten-5">
                      <form>
                        <div class="input-field">
                          <input id="search" type="search" ng-model="searchText">
                          <label for="search"><i class="material-icons" style="color:black">search</i></label>
                          <i class="material-icons" ng-click="searchText=''">close</i>
                        </div>
                      </form>
                    </div>
                </nav>
            </div>
            <div class="row center">
              <div class="col s6">
                <!-- Dropdown Trigger -->
                <a class='dropdown-button btn' href='javascript:void(0);' data-activates='orderByDropdown' dropdown data-hover="false">
                    <i class="material-icons left">subject</i>{{orderBy}}
                </a>
                <!-- Dropdown Structure -->
                <ul id='orderByDropdown' class='dropdown-content'>
                  <span  ng-repeat="type in types">
                    <li><a href="javascript:void(0);" ng-click="selectType(type)">{{type}}</a></li>
                  </span>
                </ul>
                
              </div>
              <div class="col s6">
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" ng-click="orderReverse = !orderReverse" />
                  <label for="filled-in-box">Reverse</label>
              </div>
            </div>
            <div class="row center" ng-show="preLoad">
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <p ng-if="error">Error: <strong>{{ error.message }}</strong></p>
            </div>
            
            <ul class="collapsible popout" data-collapsible="accordion" watch>
                <li ng-repeat="single in drives | orderBy:orderBy:orderReverse | filter:searchText" ng-if="$index >= min && $index < max">
                    <div class="collapsible-header">
                      {{single.drivername}}
                      <a href='#deleteDriveModal' class="secondary-content" ng-click="addInputs(single)" modal>
                        <i class="material-icons" style="color: #d50000;">delete</i>
                      </a>
                      <a class='secondary-content' href='#addDriveModal' ng-click="addInputs(single)" modal>
                        <i class="material-icons">mode_edit</i>
                      </a>
                      

                    </div>
                    <div class="collapsible-body" >
                        <p ng-model="single">
                            Phone Number: {{single.phone}} <br>
                            Email: {{single.email}} <br>
                            License Number: {{single.licence}} <br>
                            Maling Address: {{single.address}} <br>
                            Start Drive: {{single.start_drive}}<br>
                            Finish Drive: {{single.finish_drive}}<br>
                            Car Make: {{single.make}}<br>
                            Car Model: {{single.model}}<br>
                            Rego Number: {{single.rego}}<br>
                            Rate: {{single.rate}}<br>
                            Comments: {{single.comments}}<br>
                            User: {{single.username}}<br>
                            Status: {{single.status}}<br>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-action center-align">
          <pagination
            page="1"
            page-size="7"
            total="drives.length"
            show-prev-next="true"
            use-simple-prev-next="false"
            dots="...."
            hide-if-empty="false"
            adjacent="2"
            scroll-top="false"
            pagination-action="changePage(page)" />
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
                <span class="card-title">Car Make:</span>
                <canvas id="pie" class="chart chart-pie"
                    chart-data="pi_data" chart-labels="pi_labels" chart-colors="pi_colors" chart-options="pi_options">
                </canvas>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
                <span class="card-title">Rating:</span>
                <canvas id="bar" class="chart chart-bar"
                  chart-data="rating_data" chart-labels="rating_labels" chart-options="rating_options" chart-series="rating_series">
                </canvas>
            </div>
          </div>
        </div>
    </div>
</div>
</main>
<footer ng-include="'views/partials/footer.html'" class="page-footer purple darken-3"></footer>