<!--Header-->
<header ng-include="'views/partials/header.html'"></header>
<main>
<!-- Modal Structure for Edit -->
<div id="updateUserModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Update User</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12" input-field>
                  <input class="validate" id="icon_prefix" type="text" ng-model="inputs.name">
                  <label for="icon_prefix">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="icon_prefix" type="text" class="validate" ng-model="inputs.phone">
                <label for="icon_prefix">Phone Number</label>
              </div>
            </div>
            <div class="row">
              <!-- Dropdown Trigger -->
              Role: 
              <a class='dropdown-button btn' href='javascript:void(0);' data-activates='roleDropdown' dropdown data-hover="false">
                  {{inputs.role}}
              </a>
              <!-- Dropdown Structure -->
              <ul id='roleDropdown' class='dropdown-content'>
                <span ng-repeat="role in roles">
                  <li><a href="javascript:void(0);" ng-click="selectRole(role)">{{role}}</a></li>
                </span>
              </ul>
            </div>
          </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" ng-click="updateUser()" class=" modal-action modal-close waves-effect waves-green btn-flat">ADD</a>
        <a href="javascript:void(0);" ng-click="cancel()" class=" modal-action modal-close waves-effect waves-green btn-flat">CANCEL</a>
    </div>
</div>

<div id="addUserModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Create New User</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <!-- Dropdown Trigger -->
              Role:
              <a class='dropdown-button btn' href='javascript:void(0);' data-activates='newUserRoleDropdown' dropdown data-hover="false">
                  {{newUser.role}}
              </a>
              <!-- Dropdown Structure -->
              <ul id='newUserRoleDropdown' class='dropdown-content'>
                <span ng-repeat="newUserRole in newUserRoles">
                  <li><a href="javascript:void(0);" ng-click="selectNewUserRole(newUserRole)">{{newUserRole}}</a></li>
                </span>
              </ul>
            </div>
            <div class="row">
              <div class="input-field col s12" input-field>
                  <input class="validate" id="icon_prefix" type="text" ng-model="newUser.name">
                  <label for="icon_prefix">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="icon_prefix" type="text" class="validate" ng-model="newUser.phone">
                <label for="icon_prefix">Phone Number</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="username" type="text" ng-model="newUser.email" required>
                <label for="username" >Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" ng-model="newUser.password" required>
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="confirm_password" type="password" ng-model="newUser.confirmPassword" required>
                <label for="confirm_password">Confirm Password</label>
              </div>
            </div>
          </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" ng-click="createUser()" class=" modal-action modal-close waves-effect waves-green btn-flat">ADD</a>
        <a href="javascript:void(0);" class=" modal-action modal-close waves-effect waves-green btn-flat">CANCEL</a>
    </div>
</div>

<!-- Modal Structure for Delete -->
<div id="deleteUserModal" class="modal">
    <div class="modal-content">
        <h4>Delete user</h4>
        <div class="row">
          Type email and password
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="icon_prefix" type="text" ng-model="email">
                <label for="icon_prefix">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="icon_prefix" type="password" ng-model="password">
                <label for="icon_prefix">Password</label>
              </div>
            </div>
          </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" ng-click="deleteUser()" class=" modal-action modal-close waves-effect waves-green btn-flat">DELETE</a>
        <a href="javascript:void(0);" class=" modal-action modal-close waves-effect waves-green btn-flat">CANCEL</a>
    </div>
</div>

<div class="row">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <!-- Modal Trigger -->
          <div class="col right">
              <a href="#addUserModal" class="btn-floating waves-effect waves-light" modal><i class="material-icons">add</i></a>
          </div>        
            <div class="row">
              <span class="card-title">Users:</span>
            </div>
            <div class="row">
                <nav>
                    <div class="nav-wrapper grey grey lighten-5">
                      <form>
                        <div class="input-field">
                          <input id="search" type="search" ng-model="searchText" required>
                          <label for="search"><i class="material-icons" style="color:black">search</i></label>
                          <i class="material-icons" ng-click="searchText=''">close</i>
                        </div>
                      </form>
                    </div>
                </nav>
            </div>
            <div class="row center">
              <div class="col s6">
                <!-- Dropdown Trigger -->
                <a class='dropdown-button btn' href='javascript:void(0);' data-activates='orderByDropdown' dropdown data-hover="false">
                    <i class="material-icons left">subject</i>{{orderBy}}
                </a>
                <!-- Dropdown Structure -->
                <ul id='orderByDropdown' class='dropdown-content'>
                  <span  ng-repeat="type in types">
                    <li><a href="javascript:void(0);" ng-click="selectType(type)">{{type}}</a></li>
                  </span>
                </ul>
                
              </div>
              <div class="col s6">
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" ng-click="orderReverse = !orderReverse" />
                  <label for="filled-in-box">Reverse</label>
              </div>
            </div>
            <div class="row center" ng-show="preLoad">
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <p ng-if="error">Error: <strong>{{ error }}</strong></p>
            </div>
            <ul class="collapsible popout" data-collapsible="accordion" watch>
                <li ng-repeat="single in users | orderBy:orderBy:orderReverse | filter:searchText" ng-if="$index >= min && $index < max">
                    <div class="collapsible-header">
                      <span class="hide-on-small-only">
                        {{single.name}}
                      </span>
                      <span class="hide-on-med-and-up">
                        <span ng-if="single.name.length >= 5">
                          {{single.name.substring(0, 5)}}...
                        </span>
                        <span ng-if="single.name.length < 5">
                          {{single.name}}
                        </span>
                      </span>
                      
                      <!-- Switch -->
                      <div class="switch secondary-content">
                        <label>
                          <span class="hide-on-small-only">
                            Disable
                          </span>
                          <input type="checkbox" ng-click="enableUser(single)" ng-checked="single.enabled">
                          <span class="lever"></span>
                          <span class="hide-on-small-only">
                            Enable
                          </span>
                        </label>
                      </div>
                      <a href='#deleteUserModal' class="secondary-content" ng-click="addInputs(single)" modal>
                        <i class="material-icons" style="color: #d50000;">delete</i>
                      </a>
                      <a class='secondary-content' href='#updateUserModal' ng-click="addInputs(single)" modal>
                        <i class="material-icons">mode_edit</i>
                      </a>
                    </div>
                    <div class="collapsible-body" >
                        <p ng-model="single">
                            Email: {{single.email}} <br>
                            Phone Number: {{single.phone}} <br>
                            Role: {{single.role}}<br>
                            Enable: {{single.enabled}}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-action center-align">
          <pagination
            page="1"
            page-size="7"
            total="users.length"
            show-prev-next="true"
            use-simple-prev-next="false"
            dots="...."
            hide-if-empty="false"
            adjacent="2"
            scroll-top="false"
            pagination-action="changePage(page)" />
        </div>
      </div>
    </div>
</div>
</main>
<!--Footer-->
<footer ng-include="'views/partials/footer.html'" class="page-footer frizelles-blue"></footer>