html,
body {
    width: 100%;
}
html {
}
body {
   
}

main{
 
}

.login-body, .app-body{
  height: 100%;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}

.profile-image-login{
  height: 60%;
  width: 60%;
}

.login-form {
    width: 280px;
    margin: 20px;
}

#login-page{
  width: 340px;
}

.sign-in-btn{
  width: 100%;
  color: black;
}

#main-page{
  width: 840px;
}

header, main, footer {
      padding-left: 300px;
}

header.app, main.app, footer.app{
      padding-left: 0px;
}

footer.app{
  position: fixed;
  bottom: -5px;
  width: 100%;
  z-index: 3;
}

header.app{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

main.app{
  padding-top: 30px;
  padding-bottom: 100px;
  z-index: 0;
}



@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.add-drive-btn{
  margin-top: 20px;
}

span.thumb{
  display: none;
}