<div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Admin Dashboard</h5>
        <p class="grey-text text-lighten-4">Database management website for Test Drive Register. Only administrators are allowed to access this site.</p>
        <img class="materialboxed" width="100%" src="images/footer.png">
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://jamesfrizelles.com.au/">James Frizelle`s Official Page</a></li>
          <li><a class="grey-text text-lighten-3" href="https://sendgrid.com/">SendGrid</a></li>
          <li><a class="grey-text text-lighten-3" href="https://firebase.google.com/">Firebase</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.heroku.com/">Heroku</a></li>
        </ul>
      </div>
    </div>
</div>
<div class="footer-copyright frizelles-yellow black-text" >
  <div class="container">
  © Copyright 2016 James Frizelle`s Automotive Group 
  <a class="black-text right" href="http://jamesfrizelles.com.au/privacy-policy/">PRIVACY POLICY</a>
  </div>
</div>