<nav class="frizelles-blue navbar-fixed" role="navigation">
    <div class="nav-wrapper container">
      <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="300" data-closeonclick="false">
          <i class="material-icons">menu</i>
      </a>
      <a id="logo-container" href="javascript:void(0);" class="brand-logo hide-on-small-only">Test Drive Register</a>
      <a id="logo-container" href="javascript:void(0);" class="brand-logo hide-on-med-and-up" style="font-size:20px;">Test Drive Register</a>
    </div>
</nav>

<!--Fixed SideNav-->
<ul id="nav-mobile" class="side-nav fixed">
    <li><div class="userView">
      <img class="background profile-background-img" src="images/background.jpg" width="100%" >
      <a href="#!user"><i class="material-icons medium" style="color: rgba(255, 255, 255, 1)">account_circle</i></a>
      <a href="#!name"><span class="white-text name">{{user.name}}</span></a>
      <a href="#!email"><span class="white-text email">{{user.email}}</span></a>
    </div></li>
    <li><a href="javascript:void(0);" ng-click="linkto('/')"><i class="material-icons">dns</i>Database</a></li>
    <li><div class="divider"></div></li>
    <li><a href="javascript:void(0);" ng-click="linkto('/users')"><i class="material-icons">perm_identity</i>Users</a></li>
    <li><div class="divider"></div></li>
    <li><a href="javascript:void(0);" ng-click="linkto('/settings')"><i class="material-icons">settings</i>Settings</a></li>
    <li><div class="divider"></div></li>
    <li><a href="javascript:void(0);" ng-click="signout()"><i class="material-icons">exit_to_app</i>Sign Out</a></li>
</ul>